h1{
  font-family: sans-serif;
  color: blue;
}

h2{
  color: green;
  font-style:italic;
  text-align: center;
}
h3{
  color: red;
  font-style:italic;
  text-align: center;
}
body{
  background-color: gray;
  font-family: sans-serif;

  <img
}
p{
  font-family: serif;

}
ul{
  line-height: 40px;

}
.important{
  colr red;
}
.unimportant{
  color white;
}
