h1{
  font-family: sans-serif;
  color: white;
}

h2{
  color: white;
  font-style:italic;
  text-align: center;
}
h3{
  color: white;
  font-style:italic;
  text-align: center;
}
body{
  background-color: #800000;
  font-family: sans-serif;
}
.image{
  text-align: center;
}
img{
  height: 300px;
  width: 300px;
}
p{
  font-family: serif;

}
ul{
  line-height: 40px;

}
.important{
  color:white;
}
.unimportant{
  color:white;
}
