h1{
  font-family: sans-serif;
  color: black;
}

h2{
  color: black;
  font-style:italic;
  text-align: center;
}
h3{
  color: red;
  font-style:italic;
  text-align: center;
}
body{
  background-color: #800000;
  font-family: sans-serif;
}
.image{
  text-align: center;
}
img{
  height: 300px;
  width: 300px;
}
p{
  font-family: serif;

}
ul{
  line-height: 40px;

}
.important{
  color:white;
}
.unimportant{
  color:white;
}
.adventures{
  background-color: yellow;
}
.test-box {
       text-align: center;
       border:10px solid #BE59AC;
       padding: 7px;
       margin: 20px;
       background-color: #23F4EB;
     }
